.ContactForm textarea {
  min-height: 10rem;
  width: 80vw;
  padding: 1rem;
  text-align: justify;
  color: var(--lightFaded);
}

.ContactForm input {
  max-width: 60vw;
}

.ContacMe,
.contact,
.ContactForm,
.ContacMe div {
  padding: 1rem 0 1rem 0;
}

.ContactForm {
  max-width: 90%;
}

@media screen and (max-width: 800px) {
  .ContactForm textarea {
    min-height: 20rem;
  }
}

@media screen and (max-width: 355px) {
  .ContactForm textarea {
    padding: 1rem 0 1rem 0;
  }
}
